/* src/components/SplashScreen.css */
.splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e2f; /* Dark background */
    overflow: hidden;
}

.logo-animation {
    font-size: 4rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: flex;
    animation: fadeOut 5s ease-in-out, scaleUp 2s ease-in-out infinite alternate;
}

.buy {
    color: #4caf50; /* Green */
    animation: textColorChange 2s infinite alternate;
}

.hub {
    color: #2196f3; /* Blue */
    animation: textColorChangeReverse 2s infinite alternate;
}

/* Keyframes for scaling text */
@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

/* Keyframes for fading out */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Keyframes for color gradient transition */
@keyframes textColorChange {
    from {
        color: #4caf50;
    }
    to {
        color: #8bc34a;
    }
}

@keyframes textColorChangeReverse {
    from {
        color: #2196f3;
    }
    to {
        color: #42a5f5;
    }
}
